<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../../../libs/bootstrap/css/bootstrap.min.css">

	<script type="text/javascript" src="../../../../libs/vue/vue.min.js"></script>
	<script type="text/javascript" src="../../../../libs/jquery/jquery-2.1.1.min.js"></script>

</head>
<body>
	<div class="bs-example" data-example-id="simple-table" id="app">
		<div :style="{border: '#ccc solid 1px', height: '48px', padding: '10px 0', background: '#ccc'}">
			<div class="col-sm-3"><label>username：<input type="text" v-model="username"></label></div>
			<div class="col-sm-3"><label>phone：<input type="text" v-model="phone"></label></div>
			<div class="col-sm-3"><label>mail：<input type="text" v-model="mail"></label></div>
			<div class="col-sm-3"><input type="button" class="btn btn-info" value="搜索" @click="search"></div>
		</div>	
    	<table class="table">
	      	<thead>
		        <tr>
					   <th v-for="(value, key) in dataset[0]">{{key}}</th>
		        </tr>
	      	</thead>
			<tbody>
				<tr v-for="obj in dataset">
					<td v-for="(value, key) in obj">{{value}}</td>
				</tr>
			</tbody>
    	</table>
  	</div>
  	<script type="text/javascript">
  		var vm = new Vue({
  			el: '#app',
  			data: {
  				username: '',
  				phone: '',
  				mail: '',
  				datasetOrigin: [],
  				dataset: []
  			},
  			methods: {
  				search: function(){
  					var _dataset = [];
  					for(var index in this.datasetOrigin){
  						var obj = this.datasetOrigin[index];
  						var _result = (
	  						(!this.username || obj.username.indexOf(this.username) > -1)
	  						&& (!this.phone || obj.phone.indexOf(this.phone) > -1)
	  						&& (!this.mail || obj.mail.indexOf(this.mail) > -1)
	  					);

  						if(_result){
  							_dataset.push(obj);
  						}
  					}
  					// console.log(_dataset);
  					this.dataset = _dataset;
  				}
  			}
  		})

  		$.get('http://localhost/course/api/api/student/FetchAllStudent', function(response){
  			vm.dataset = response.data;
  			vm.datasetOrigin = response.data;
  		})
  	</script>	
</body>
</html>